* {
box-sizing: border-box;
}

nav {
display: flex;
justify-content: space-between;
overflow: scroll;
}

.page{
overflow: scroll;
}

.link,.link-active {
color: inherit;
text-decoration: inherit;
border: solid 1px orange;
padding: 1em;
display: block;
}

.link-active {
background: orange;
}

button {
padding: 1em;
margin: 0em;
border: solid 1px orange;
}

textarea {
width: 100%;
height: 10em;
}
